/*  your css code here. If applicable */
body{
	display:flex;
	align-items: center;
	justify-content:center;
}
.container{
	height:400px;
	width:200px;
	background-color: #F5F2F2;
	margin-top:30px;
    padding:30px;
	box-shadow: 2px 2px 5px gray;
}
.container img{
	height:160px;
	width:200px;	
}
.container h1{
	font-size:35px;
	margin-top: 0px;
	font-weight:900;
}
.price{
	text-align:center;
	margin-top:0px;
	font-size:25px;
	line-height:0px;
}
.container p{
	text-align:center;
	font-size:20px;
}
.container button{
	background-color:red;
	color:white;
	padding:20px;
	border-radius:20px;
	margin-left:50px;
}

